body {
  background-color: #ffcd00;
}

main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto mono', monospace;
  color: #00205b;
  text-align: center;
  text-transform: lowercase;
}

.center,
footer {
  margin-top: auto;
}

footer {
  margin-bottom: 20px;
}

a {
  color: inherit;
}

h1, h2 {
  font-family: 'Syncopate', sans-serif;
  font-weight: bold;
  margin-bottom: 12px;
  text-transform: uppercase;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 24px;
  opacity: 0.3;
}

.register {
  margin-bottom: 8px;
  line-height: 2em;
}
