main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
  color: #000;
  text-align: center;
  text-transform: uppercase;
}

.center,
footer {
  margin-top: auto;
}

footer {
  margin-bottom: 20px;
}

a {
  color: inherit;
}

h1 {
  font-size: 42px;
  margin-bottom: 12px;
}

h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.register {
  margin-bottom: 8px;
}
